@font-face {
  font-family: "Gilroy";
  src: url("https://wearebirl.github.io/wearebirl/Gilroy-Light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("https://wearebirl.github.io/wearebirl/Gilroy-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("https://wearebirl.github.io/wearebirl/Gilroy-Medium.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("https://wearebirl.github.io/wearebirl/Gilroy-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("https://wearebirl.github.io/wearebirl/Gilroy-Extrabold.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}

.birl-cta-container {
  position: relative;
  padding: 8px 20px;
  background-color: white;
  color: black;
  font-family: "Gilroy", serif !important;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  border-width: 1px;
  border-radius: 5px;
  cursor: pointer;
  border-style: solid;
  border-color: #dadada;
  margin: 12px 0;
  justify-content: start;
  text-align: center;
  max-width: 44rem;
}

.birl-product-cta-container {
  position: relative;
  padding: 12px;
  background-color: white;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto,
    "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  border-width: 1px;
  border-radius: 5px;
  width: 100%;
  max-width: 440px;
  cursor: pointer;
  border-style: solid;
  border-color: #cacaca;
}

.birl-product-cta-container-peregrine {
  position: relative;
  padding: 8px 20px;
  background-color: white;
  color: black;
  font-family: "Gilroy", serif !important;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  border-width: 1px;
  border-radius: 5px;
  cursor: pointer;
  border-style: solid;
  border-color: #dadada;
  margin: 12px auto;
  justify-content: center;
  text-align: center;
}

.birl-heading{
  text-transform: none;
}

.birl-product-cta-container-lavenham {
  position: relative;
  padding: 8px 20px;
  background-color: white;
  color: black;
  font-family: "Gilroy", serif !important;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  border-width: 1px;
  border-radius: 5px;
  cursor: pointer;
  border-style: solid;
  border-color: #dadada;
  margin: 12px 0;
  justify-content: start;
  text-align: center;
  max-width: 44rem;
}

.birl-product-cta-container-shopifysports {
  position: relative;
  padding: 8px 20px;
  background-color: white;
  color: black;
  font-family: "Gilroy", serif !important;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  border-width: 1px;
  border-radius: 5px;
  cursor: pointer;
  border-style: solid;
  border-color: #808080;
  margin: 12px 0;
  justify-content: start;
  text-align: center;
  max-width: 44rem;
}

.birl-cta-container-2 {
  position: relative;
  padding: 1rem 2rem;
  gap: 8px;
  background-color: white;
  color: black;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-width: 0.06rem;
  border-radius: 26px;
  cursor: pointer;
  border-style: solid;
  border-color: black;
  text-transform: uppercase;
  margin: 12px auto;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.07em;
  line-height: 1.1;
  transform: hover 0.2s;
  transition: all;
}

.birl-cta-container-2:hover {
  background-color: #f2f2f2;
}

/* Peregrine Button Styling */
.birl-cta-container-2-peregrine {
  font-family: "Gilroy", serif !important;
  margin-top: 50px;
}

.birl-product-cta-container3 {
  position: relative;
  padding: 12px;
  background-color: white;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto,
    "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  max-width: 440px;
  cursor: pointer;
  border-style: solid;
  border-color: #cacaca;
}

.birl-product-cta-content {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

[alt="Arrow"] {
  width: 16px !important;
  height: 16px !important;
  margin-left: 8px;
}

.birl-product-cta-text {
  line-height: 1.2;
  text-align: left;
}

/* @media screen and (max-width: 768px) {
  .birl-product-cta-container p {
    max-width: 330px;
  }
  .birl-product-cta-container {
    width: unset;
  }
} */

.product-cta-links {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.product-cta-links button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* .birl-product-cta-container img {
  width: 50px;
  height: 17px;
  margin-right: 16px;
} */

.birl-logo-2 {
  height: 15px;
  object-fit: contain;
}

.birl-logo-container {
  background-color: #cfd5f7; /* Lilac background */
  padding: 8px 12px; /* 3px padding around the SVG */
  border-radius: 6px; /* Rounded background */
  display: flex;
}

.birl-product-cta-container img {
  width: 50px;
  height: 17px;
}

.birl-product-cta-container3 img {
  width: 50px;
  height: 17px;
  margin-right: 16px;
}
.birl-product-cta-text p {
  margin: 0;
}

.birl-product-cta-text button {
  color: white;
  text-decoration: underline;
  font-weight: 600;
  text-underline-offset: 2px;
  font-family: "Inter", sans-serif;
  margin-left: 0;
  font-size: 12px;
  padding: 0;
}

.tooltip-btn .tooltip-text {
  margin: 0 auto;
  display: inline-block;
  text-align: left;
  color: gray;
}

.tooltip-btn .tooltip-container {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: solid #cacaca;
  position: absolute;
  bottom: -100px; /* Position above the button */
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: collapse;
  font-size: 12px;
  width: 100%;
  line-height: 110%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 10px;
}

.tooltip-btn .tooltip-container-2 {
  padding: 15px;
  border-radius: 10px;
  border: grey;
  border-width: 0.06rem;
  border-style: solid;
  bottom: -150px; /* Position above the button */
}

@media (hover: hover) {
  .tooltip-btn:hover .tooltip-container {
    visibility: visible;
    opacity: 1;
  }
}

/* Dropdown */

.birl-announcement-container {
  background-color: #2ea141;
  padding: 11px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto,
    "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.birl-announcement-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  outline: none;
  border: none;
  text-align: center;
  width: 100%;
  cursor: pointer;
  background: none;
  color: #ffffff;
}

.birl-announcement-container a:visited {
  color: #667085;
}

.birl-announcement-container img {
  margin-right: 10px;
}

.birl-announcement-dropdown {
  height: 100svh;
  padding: 38px 80px;
  display: none;
  overflow: scroll;
  background: white;
  flex-direction: column;
  justify-content: space-between;
}

.dropdown-split__left__content h1 {
  font-size: 42px;
  font-weight: 600;
  color: black;
  margin: 0;
}

.dropdown-split__left__content p {
  max-width: 60ch;
  color: #667085;
}

.dropdown-split__left__content video {
  border-radius: 12px;
  margin-top: 40px;
}

.dropdown-split__left__content {
  max-width: 60ch;

  font-size: 16px;
  font-weight: 400;
}

.steps {
  margin-top: 40px;
}

.start-trade-in {
  color: var(--White, #fff);
  /* Text md/Semibold */
  display: block;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  border-radius: 8px;
  padding: 10px 18px;
  width: 100%;
  text-align: center;
  border: 1px solid var(--Black, #000);
  background: var(--Black, #000);
  max-width: 250px;
  text-decoration: none;

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.loading-trade-in {
  background: #3c3c3c;
  cursor: not-allowed;
  padding-right: 40px;
}

.start-trade-in-later {
  color: #000000;
  /* Text md/Semibold */

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-align: center;
  cursor: pointer;
  margin-top: 8px;
  background: none;
  outline: none;
  border: none;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.dropdown-split {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1440px;
  margin: 0 auto;
}

.dropdown-split__left,
.dropdown-split__right {
  width: 50%;
}

.dropdown-split__left {
  margin-right: 20px;
}

.dropdown-split__right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  max-height: 605px;
  width: max-content;
}

.dropdown-split__right .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 557px;
  width: 100%;
}

.Trade-In-Banner-Container {
  max-width: 1400px;
  margin: 0 auto;
}

.Trade-In-Banner-Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Trade-In-Back-Container {
  display: flex;
  align-items: center;
  color: black;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.Trade-In-Back-Container svg {
  margin-right: 10px;
  fill: black;
  margin-top: 4px;
}

.Trade-In {
  text-decoration: none;
  height: max-content;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon p {
  color: #000;
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 145.455% */
}
.dropdown-split__right-p:first-child {
  margin-top: 40px;
}

.dropdown-split__right-p {
  color: var(--Text-light-grey, #667085);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 62ch;
}

.icons .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  background: none;
}

@media only screen and (max-width: 1400px) {
  .dropdown-split__left__content video {
    max-width: 492px;
  }

  .dropdown-split__left__content h1 {
    font-size: 28px;
  }

  .dropdown-split__left__content p {
    font-size: 14px;
  }

  .birl-announcement-dropdown {
    /* height: max-content !important; */
  }
  .dropdown-split__left {
    margin-right: 0;
  }

  .dropdown-split__right {
    align-items: flex-start;
  }

  .dropdown-split__right .icons {
    max-width: 100%;
    margin-top: 39px;
  }

  .dropdown-split__right .icons img {
    max-width: 89px;
    width: 100%;
    padding: 5px;
  }

  .dropdown-split__left__content video {
    width: 100%;
    height: auto;
  }

  .steps {
    max-width: 375px;
    width: 100%;
  }

  .birl-announcement-dropdown {
    padding: 30px;
  }

  .dropdown-split__left,
  .dropdown-split__right {
    width: 100%;
  }
}

@media only screen and (max-width: 1072px) {
  .birl-announcement-container button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    background: none;
  }

  .birl-announcement-container img {
    margin-bottom: 10px;
  }

  .dropdown-split {
    max-width: 100%;
    padding: 0;
    padding-right: 20px;
    flex-direction: column;
    max-height: Calc(100vh - 200px);
    overflow-y: scroll;
  }
  .dropdown-split__left__content h1 {
    font-size: 42px;
  }

  .dropdown-split__left__content p {
    font-size: 16px;
  }

  .dropdown-split__left__content video {
    max-width: 100vw;
  }

  .dropdown-split__left__content {
    max-width: 100%;
  }
  .dropdown-split__right .icons {
    max-width: 100%;
  }

  .steps {
    max-width: 100%;
  }

  .start-trade-in {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .birl-announcement-container button {
    max-width: 40ch;
  }
}

.how-it-works {
  font-size: 22px;
  font-weight: 600;

  margin-bottom: 30px;
}

.buttons-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 0px 0px 12px 12px;
  background: #fff;
}

@media only screen and (max-width: 1072px) {
  .buttons-flex {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 0;
  }

  .buttons-flex button {
    margin-top: 10px;
    width: 100%;
  }
}

[alt="How Birl Works"] {
  border-radius: 10px;
}

.drop_title {
  color: #000000;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-block: 0.5em;
}

.drop_content_imgs {
  /* max-width: 400px; */
  margin: 50px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 120px;
  text-align: center;
}

.drop_content_imgs img {
  width: auto;
  max-height: 60px;
  max-width: 60px;
  height: 100%;
  object-fit: contain;
  margin: auto;
}

.button_text {
  font-weight: 800;
}

.drop_content_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  margin: 0 auto;
}

.drop_content_item {
  position: relative;
  width: 100%;
  padding: 30px 40px;
  border-radius: 8px;
  border: 1px solid var(--Container-Stroke, rgba(0, 0, 0, 0.2));
  background: #fff;
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: height 0.3s ease-in-out;
}

.drop_content_item .title {
  margin: 0 !important;
  margin-bottom: 30px !important;

  color: #000 !important;

  text-align: center !important;
  font-size: 22px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 16px !important; /* 72.727% */
  border-bottom: none !important;
  padding-bottom: 0 !important;
}

.drop_content_flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px 15px;
  gap: 30px;
  align-items: start;
}

.drop_content_item h2 {
  color: #000;
  margin-top: 0;
  text-align: center;

  font-size: 22px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 16px; /* 72.727% */
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #e1e3e5;
}

.birl-carousel-item {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 50px;
}

.birl-carousel-item.active {
  display: flex !important;
}

.birl-carousel-control {
  border-radius: 50px;
  background: #fff;
  padding: 19px 17px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.12);
  border: none;
  outline: none;
  cursor: pointer;

  z-index: 99;
}

.birl-carousel-control img {
  object-fit: contain;
}

.birl-carousel-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: Calc(50% - 17px);
  padding: 0 40px;
  left: 0;
}

.birl-carousel-item h3 {
  color: #585858;
  margin: 7px 0;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.birl-carousel-item p {
  color: #585858;

  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  max-width: 295px;
  min-height: 60px;
}

@media only screen and (max-width: 834px) {
  .drop_content_flex {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .drop_content_item {
    max-width: 100%;
    margin: 30px 0;
  }

  .drop_content_imgs img {
    max-width: 120px;
  }

  .drop_content_item .title {
    margin-bottom: 20px !important;
  }

  .drop_content_flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .drop_content_item h2 {
    padding-bottom: 0;
    border-bottom: none;
  }

  .drop_content_item h2 {
    margin-bottom: 20px;
  }

  .drop_content_item {
    margin: 15px 0;
  }

  .drop_content_flex {
    margin-bottom: 30px;
  }
}

.birl-announcement-dropdown {
  overflow-y: scroll;
}

.birl-announcement-dropdown::-webkit-scrollbar {
  width: 5px;
}

.birl-announcement-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.birl-announcement-dropdown::-webkit-scrollbar-thumb {
  background: #888;
}

.birl-announcement-dropdown::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dropdown-page-dot.active {
  background-color: #000;
}

.dropdown-page-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.dropdown-page-dot {
  background-color: #c4c4c4;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
  display: block !important;
}

.dropdown-img-lbl {
  text-align: center;
  font-weight: 600;
  margin: 10px 0 30px;
  font-size: medium;
  color: #000;
}

.font-peregrine {
  font-family: "Gilroy", serif !important;
}

.font-gilroy {
  font-family: "Gilroy", serif !important;
}

.birlWelcome {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 50; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100svh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

/* Modal Content/Box */
.birlWelcome-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #fefefe;
  margin: auto auto; /* 15% from the top and centered */
  padding: 110px 60px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 26px;
  min-height: 500px;
  max-width: 1100px;
  gap: 20px;
  position: relative;
}

.birlWelcome-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.birlWelcome-logo {
  width: 100px;
  height: 28px;
  object-fit: contain;
}

.birlWelcome-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 60%;
  gap: 40px;
}

.birlWelcome-right {
  height: 100%;
  min-height: inherit;
  width: 40%;
  position: relative;
}
/* The Close Button */
.birlWelcome-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.birlWelcome-button {
  font-family: "Gilroy", serif !important;
  display: inline-block;
  background-color: #3c315b;
  color: white;
  padding: 14px 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  transition: opacity 0.3s;
  border: none;
}

.birlWelcome-button:hover {
  opacity: 0.8;
}

.birlWelcome-close:hover,
.birlWelcome-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.birlWelcome h1 {
  font-family: "Gilroy", serif !important;
  font-size: 36px;
  font-weight: 800;
  margin: 0;
  color: black;
}

.birlWelcome p {
  font-family: "Gilroy", serif !important;
  font-size: 18px;
  font-weight: 400;
  color: #4a4a4a;
  width: 80%;
}

.birlWelcome-img1{
  position: absolute;
  top:0;
  right:0;
  width: 75%;
  height:75%;
  object-fit: cover;
  border-radius: 16px;
}

.birlWelcome-img2{
  position: absolute;
  bottom:0;
  left:0;
  width: 40%;
  height:40%;
  object-fit: cover;
  border-radius: 16px;
}

@media screen and (max-width: 1300px) {
  .birlWelcome-content {
    min-height: 400px;
    width: 85%;
    padding: 110px 60px 90px 60px;
  }
}

@media screen and (max-width: 900px) {
  .birlWelcome-content {
    min-height: 300px;
    width: 90%;
    padding: 90px 50px 50px 50px;
  }

  .birlWelcome-header {
    padding: 20px 30px;
  }

  .birlWelcome-logo {
    width: 80px;
    height: 22px;
  }

  .birlWelcome h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .birlWelcome-content {
    width: 90%;
    padding: 80px 40px 40px 40px;
    margin: 0;
    flex-direction: column-reverse;
  }

  .birlWelcome-left {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .birlWelcome-bodyTextContent {
    margin: auto;
  }

  .birlWelcome-right {
    width: 100%;
  }
}
