@font-face {
  font-family: "Gilroy";
  src: url("https://wearebirl.github.io/wearebirl/Gilroy-Light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("https://wearebirl.github.io/wearebirl/Gilroy-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("https://wearebirl.github.io/wearebirl/Gilroy-Medium.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("https://wearebirl.github.io/wearebirl/Gilroy-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("https://wearebirl.github.io/wearebirl/Gilroy-Extrabold.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}

.birl-cta-container {
  position: relative;
  padding: 8px 20px;
  background-color: white;
  color: black;
  font-family: "Gilroy", serif !important;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  border-width: 1px;
  border-radius: 5px;
  cursor: pointer;
  border-style: solid;
  border-color: #dadada;
  margin: 12px 0;
  justify-content: start;
  text-align: center;
  max-width: 44rem;
}

.birl-product-cta-container {
  position: relative;
  padding: 12px;
  background-color: white;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto,
    "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  border-width: 1px;
  border-radius: 5px;
  width: 100%;
  max-width: 440px;
  cursor: pointer;
  border-style: solid;
  border-color: #cacaca;
}

.birl-product-cta-container-peregrine {
  position: relative;
  padding: 8px 20px;
  background-color: white;
  color: black;
  font-family: "Gilroy", serif !important;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  border-width: 1px;
  border-radius: 5px;
  cursor: pointer;
  border-style: solid;
  border-color: #dadada;
  margin: 12px auto;
  justify-content: center;
  text-align: center;
}

.birl-heading{
  text-transform: none;
}

.birl-product-cta-container-lavenham {
  position: relative;
  padding: 8px 20px;
  background-color: white;
  color: black;
  font-family: "Gilroy", serif !important;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  border-width: 1px;
  border-radius: 5px;
  cursor: pointer;
  border-style: solid;
  border-color: #dadada;
  margin: 12px 0;
  justify-content: start;
  text-align: center;
  max-width: 44rem;
}

.birl-product-cta-container-shopifysports {
  position: relative;
  padding: 8px 20px;
  background-color: white;
  color: black;
  font-family: "Gilroy", serif !important;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  border-width: 1px;
  border-radius: 5px;
  cursor: pointer;
  border-style: solid;
  border-color: #808080;
  margin: 12px 0;
  justify-content: start;
  text-align: center;
  max-width: 44rem;
}

.birl-cta-container-2 {
  position: relative;
  padding: 1rem 2rem;
  gap: 8px;
  background-color: white;
  color: black;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-width: 0.06rem;
  border-radius: 26px;
  cursor: pointer;
  border-style: solid;
  border-color: black;
  text-transform: uppercase;
  margin: 12px auto;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.07em;
  line-height: 1.1;
  transform: hover 0.2s;
  transition: all;
}

.birl-cta-container-2:hover {
  background-color: #f2f2f2;
}

/* Peregrine Button Styling */
.birl-cta-container-2-peregrine {
  font-family: "Gilroy", serif !important;
  margin-top: 50px;
}

.birl-product-cta-container3 {
  position: relative;
  padding: 12px;
  background-color: white;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto,
    "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  max-width: 440px;
  cursor: pointer;
  border-style: solid;
  border-color: #cacaca;
}

.birl-product-cta-content {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}




.font-peregrine {
  font-family: "Gilroy", serif !important;
}

.font-gilroy {
  font-family: "Gilroy", serif !important;
}

.birlWelcome {
  display: none; /* Hidden by default */
  place-items: center;
  position: fixed; /* Stay in place */
  z-index: 50; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100svh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

/* Modal Content/Box */
.birlWelcome-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #fefefe;
  margin: auto auto; /* 15% from the top and centered */
  padding: 110px 60px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 26px;
  min-height: 500px;
  max-width: 1100px;
  gap: 20px;
  position: relative;
  min-width: 1000px;
}

.birlWelcome-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.birlWelcome-logo {
  width: 100px;
  height: 28px;
  object-fit: contain;
}

.birlWelcome-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 60%;
  gap: 40px;
}

.birlWelcome-right {
  height: 100%;
  min-height: inherit;
  width: 40%;
  position: relative;
}
/* The Close Button */
.birlWelcome-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.birlWelcome-button {
  font-family: "Gilroy", serif !important;
  display: inline-block;
  background-color: #3c315b;
  color: white;
  padding: 14px 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  transition: opacity 0.3s;
  border: none;
}

.birlWelcome-button:hover {
  opacity: 0.8;
}

.birlWelcome-close:hover,
.birlWelcome-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.birlWelcome h1 {
  font-family: "Gilroy", serif !important;
  font-size: 36px;
  font-weight: 800;
  margin: 0;
  color: black;
}

.birlWelcome p {
  font-family: "Gilroy", serif !important;
  font-size: 18px;
  font-weight: 400;
  color: #4a4a4a;
  width: 80%;
}

.birlWelcome-img1{
  position: absolute;
  top:0;
  right:0;
  width: 75%;
  height:75%;
  object-fit: cover;
  border-radius: 16px;
}

.birlWelcome-img2{
  position: absolute;
  bottom:0;
  left:0;
  width: 40%;
  height:40%;
  object-fit: cover;
  border-radius: 16px;
}

@media screen and (max-width: 1300px) {
  .birlWelcome-content {
    min-height: 400px;
    width: 85%;
    padding: 110px 60px 90px 60px;
  }
}

@media screen and (max-width: 900px) {
  .birlWelcome p {
    width: 90%;
  }

  .birlWelcome-content {
    min-height: 300px;
    width: 90%;
    padding: 90px 50px 50px 50px;
  }

  .birlWelcome-header {
    padding: 20px 30px;
  }

  .birlWelcome-logo {
    width: 80px;
    height: 22px;
  }

  .birlWelcome h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .birlWelcome p {
    width: 100%;
  }

  .birlWelcome-content {
    width: 90%;
    padding: 80px 40px 40px 40px;
    flex-direction: column-reverse;
  }

  .birlWelcome-left {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .birlWelcome-bodyTextContent {
    margin: auto;
  }

  .birlWelcome-right {
    width: 100%;
  }
}

.loader {
  border: 3px solid whitesmoke;
  border-radius: 50%;
  border-top: 3px solid transparent;
  width: 14px;
  height: 14px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}