@font-face {
    font-family: "Gilroy";
    src: url("https://wearebirl.github.io/wearebirl/Gilroy-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("https://wearebirl.github.io/wearebirl/Gilroy-Medium.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

.birl-button-overlay-container-master {
    padding: 16px 32px 16px 24px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    background-color: #CFD5F7;
    border-radius: 32px;
    cursor: pointer;
    white-space: nowrap;
}

.birl-button-overlay-container {
    display: flex;
    flex-direction: row;
    height: 32px;
    transition: all 0.3s ease-out;
}

.birl-button-overlay-container-master:hover .birl-button-overlay-container {
   height: 96px;
}

.birl-button-overlay-logo {
    display: flex;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
}

.birl-button-overlay-title {
    font-family: "Gilroy", serif !important;
    font-weight: 400;
    font-size: 13px;
    padding: 0;
    margin: 0 0 4px 0;
}

.birl-button-overlay-subtitle {
    font-family: "Gilroy", serif !important;
    font-weight: 300;
    font-size: 11px;
    padding: 0;
    margin: 0;
}

.birl-button-overlay-icon {
    max-height: 24px;
}