@font-face {
    font-family: "Gilroy";
    src: url("https://wearebirl.github.io/wearebirl/Gilroy-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("https://wearebirl.github.io/wearebirl/Gilroy-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("https://wearebirl.github.io/wearebirl/Gilroy-Medium.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("https://wearebirl.github.io/wearebirl/Gilroy-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("https://wearebirl.github.io/wearebirl/Gilroy-Extrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

.birl-page-body {
    width: 100%;
    margin: 32px auto;
    max-width: 1600px;
}

.birl-page-body h1 {
    font-family: "Gilroy", serif !important;
    font-size: 52px;
    font-weight: 800;
    color: black;
}

.birl-page-body h2 {
    font-family: "Gilroy", serif !important;
    font-size: 28px;
    font-weight: 700;
    color: black;
}

p {
    font-family: "Gilroy", serif !important;
    font-size: 18px;
    font-weight: 400;
    color: #4a4a4a;
}

.birl-page-body li {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 25px 0;
    max-width: 75%;
}

p {
    margin-top: 24px;
}

li h2 {
    margin: 0 24px 0 0;
    white-space: nowrap;
}

.birl-point {
    margin-top: 0 !important;
}

li p {
    margin: 0;
}

ol {
    list-style-type: none;
    margin: 16px 0 0 0;
    padding: 0;
}

.birl-how-it-works {
    margin: 48px 0 0 0;
}

.faqs {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.split-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.split-view.column {
    flex-direction: column;
}

.faq-title {
    margin-bottom: 16px;
}

.left-view {
    width: 45%;
    margin-left: 0;
    margin-right: 0;
}

.left-view.column {
    width: 100%;
    margin: 0 !important;
}

.right-view {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
}

.right-view.column {
    width: 100%;
    margin: 0 !important;
}

.hero-img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 16px;
}

.faqs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion {
    max-width: 800px;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-header {
    padding: 15px;
    cursor: pointer;
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    font-family: "Gilroy", serif !important;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-header svg {
    transition: transform 0.3s ease; /* Smooth transition for rotation */
}

.accordion-header svg.rotated {
    transform: rotate(180deg); /* Rotate the SVG by 180 degrees */
}

.accordion-content {
    margin-top: 8px;
    max-height: 450px !important;
    padding: 0;
    display: block;
    overflow: scroll;
    height: 0;
    border-radius: 10px;
    transition: height 0.3s ease;
    background-color: #f9f9f9;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.accordion-content::-webkit-scrollbar {
    display: none;
}

.accordion-item.active .accordion-content {
    height: auto;
}

.question {
    padding: 14px;
}

.question-title {
    padding: 0;
    margin: 0;
    margin-bottom: 2px !important;
    font-weight: bold !important;
}

.question-answer {
    padding: 0;
    margin: 0;
    font-size: 16px;
    white-space: normal;
}

.birl-get-started {
    font-family: "Gilroy", serif !important;
    display: inline-block;
    background-color: #3c315b;
    color: white;
    padding: 14px 50px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    transition: opacity 0.3s;
    border: none;
    margin: 16px 0;
}

@media (max-width: 1440px) {
    .birl-page-body h1 {
        font-size: 48px;
    }

    .birl-page-body h2 {
        font-size: 26px;
    }

    p {
        font-size: 17px;
    }

    .split-view {
        flex-direction: row;
    }

    .left-view, .right-view {
        width: 48%;
    }

    .accordion-item {
        min-width: 90%;
    }

    .hero-img {
        width: 85%;
        height: auto;
    }
}

@media (max-width: 1200px) {
    .birl-page-body h1 {
        font-size: 44px;
    }

    .birl-page-body h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .split-view {
        flex-direction: row;
    }

    .left-view, .right-view {
        width: 45%;
    }

    .accordion-item {
        min-width: 85%;
    }

    .hero-img {
        width: 90%;
        height: auto;
    }
}

@media (max-width: 1024px) {
    .birl-page-body h1 {
        font-size: 40px;
    }

    .birl-page-body h2 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    .split-view {
        flex-direction: column;
    }

    .left-view, .right-view {
        width: 100%;
    }

    .accordion-item {
        min-width: 100%;
    }

    .hero-img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 900px) {
    .birl-page-body h1 {
        font-size: 36px;
    }

    .birl-page-body h2 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    .split-view {
        flex-direction: column;
    }

    .left-view, .right-view {
        width: 100%;
    }

    .accordion-item {
        min-width: 100%;
    }

    .hero-img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .birl-page-body h1 {
        font-size: 32px;
    }

    .birl-page-body h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .split-view {
        flex-direction: column;
    }

    .left-view, .right-view {
        width: 100%;
    }

    .accordion-item {
        min-width: 100%;
    }

    .hero-img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 600px) {
    .birl-page-body h1 {
        font-size: 30px;
    }

    .birl-page-body h2 {
        font-size: 18px;
    }

    p {
        font-size: 13px;
    }

    .split-view {
        flex-direction: column;
    }

    .left-view, .right-view {
        width: 100%;
    }

    .accordion-item {
        min-width: 100%;
    }

    .hero-img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .birl-page-body h1 {
        font-size: 28px;
    }

    .birl-page-body h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .split-view {
        flex-direction: column;
    }

    .left-view, .right-view {
        width: 100%;
    }

    .accordion-item {
        min-width: 100%;
    }

    .hero-img {
        width: 100%;
        height: auto;
    }
}
