@font-face {
  font-family: "Gilroy";
  src: url("https://wearebirl.github.io/wearebirl/Gilroy-Light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("https://wearebirl.github.io/wearebirl/Gilroy-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("https://wearebirl.github.io/wearebirl/Gilroy-Medium.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("https://wearebirl.github.io/wearebirl/Gilroy-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("https://wearebirl.github.io/wearebirl/Gilroy-Extrabold.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}

/* New Styles */
.birl-hidden {
  display: none;
}

.birl-cta-container {
  position: relative;
  padding: 8px 20px;
  background-color: white;
  color: black;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  border-width: 1px;
  cursor: pointer;
  border-style: solid;
  border-color: #dadada;
  margin: 12px 0;
  justify-content: start;
  text-align: center;
  max-width: 44rem;
  border-radius: 5px;
}

.cart-1-container {
  background-color: rgb(244, 244, 244);
  border-radius: 0px;
  justify-content: center;
  font-size: 11px;
  width: 100%;
  padding: 8px;
  border-style: none;
}

.birl-cta-container-fixed {
  display: none;
  position: relative;
  padding: 8px 20px;
  background-color: white;
  color: black;
  font-size: 12px;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  border-width: 1px;
  cursor: pointer;
  border-style: solid;
  border-color: #dadada;
  margin: 12px 0;
  justify-content: start;
  text-align: center;
  max-width: 44rem;
  border-radius: 5px;
}

.birl-uppercase {
  text-transform: uppercase;
}

@media only screen and (min-width: 1024px) {
  .birl-cta-container-fixed {
    display: flex;
    transform: translate(-50%);
    position: fixed !important;
    left: 50%;
    bottom: 2rem;
    z-index: 999;
  }

  .birl-hide-for-desktop {
    display: none;
  }
}

.birl-cta-container-minimal {
  border-radius: 0px;
  border-color: black;
}

.birl-cta-container-basic {
  border-width: 0px;
  gap: 5px;
  flex-direction: row-reverse;
  /* justify-content: center; */
  padding: 8px 0px;
  max-width: 100%;
}

.birl-logo-container {
  background-color: #cfd5f7; /* Lilac background */
  padding: 8px 12px; /* 3px padding around the SVG */
  border-radius: 6px; /* Rounded background */
  display: flex;
}

.birl-logo-container-minimal {
  background-color: transparent;
}

.birl-logo-container img {
  height: 15px;
  object-fit: contain;
}

.birl-product-cta-text {
  line-height: 1.2;
  text-align: left;
}

.birl-heading {
  text-transform: none;
}

.birl-product-cta-text p {
  margin: 0;
  margin-bottom: 0 !important;
  text-transform: none !important;
  letter-spacing: 0 !important;
  font-family: "Gilroy", serif !important;
  font-size: 12px;
  font-weight: 400 !important;
}

.birl-product-cta-text-basic p {
  margin: 0;
  margin-bottom: 0 !important;
}

.birl-product-cta-text b {
  font-weight: 700 !important;
}

.tooltip-btn .tooltip-text {
  margin: 0 auto;
  display: inline-block;
  text-align: left;
  color: gray;
  text-transform: none !important;
}

.tooltip-btn .tooltip-container {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: solid #cacaca;
  position: absolute;
  bottom: -100px; /* Position above the button */
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: collapse;
  font-size: 12px;
  width: 100%;
  line-height: 110%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 10px;
}

.tooltip-container-basic {
  display: none;
  bottom: -120px;
}

.tooltip-text b {
  color: black;
  width: 12px;
  text-align: left;
  display: inline-block;
}

@media (hover: hover) {
  .tooltip-btn:hover .tooltip-container {
    visibility: visible;
    opacity: 1;
  }
}

/* Modal Styles */
.birl-Gilroy {
  font-family: "Gilroy", serif !important;
}

.birlWelcome {
  display: none; /* Hidden by default */
  place-items: center;
  position: fixed; /* Stay in place */
  z-index: 10000000000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100svh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

/* Modal Content/Box */
.birlWelcome-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #fefefe;
  margin: auto auto; /* 15% from the top and centered */
  padding: 110px 60px;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 26px;
  min-height: 500px;
  max-width: 1100px;
  min-width: 1000px;
  gap: 20px;
  position: relative;
}

.birlWelcome-content-basic {
  border-radius: 0px;
  flex-direction: row-reverse;
  gap: 0px;
  padding: 0px;
}

.birlWelcome-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.birlWelcome-header-basic {
  padding: 20px 40px;
}

.birlWelcome-logo {
  width: 100px;
  height: 28px;
  object-fit: contain;
}

.birlWelcome-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 60%;
  gap: 40px;
}

.birlWelcome-right {
  height: 100%;
  min-height: inherit;
  width: 40%;
  position: relative;
}

.birlWelcome-leftRight-basic {
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* The Close Button */
.birlWelcome-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.birlWelcome-close-basic {
  color: black;
  font-weight: 300;
  z-index: 9999;
}

.birlWelcome-bodyTextNote {
  margin-top: 12px;
  font-style: italic;
  font-size: 12px !important;
}

.birlWelcome-button {
  box-shadow: none;
  display: inline-block;
  background-color: #3c315b;
  color: white;
  padding: 14px 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  transition: opacity 0.3s;
  border: none;
}

.birlWelcome-button-basic {
  background-color: #000000;
  border-radius: 0px;
  font-weight: 400;
}

.birlWelcome-button:hover {
  opacity: 0.8;
}

.birlWelcome-close:hover,
.birlWelcome-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.birlWelcome h1 {
  font-size: 36px;
  font-weight: 800;
  margin: 0;
  color: black;
}

.birlWelcome-content-basic h1 {
  font-size: 28px;
  width: 90%;
  margin: auto;
  text-align: center;
  font-weight: initial;
}

.birlWelcome p {
  font-size: 18px;
  font-weight: 400;
  color: #4a4a4a;
  width: 80%;
  text-transform: none !important;
}

.birlWelcome-content-basic p {
  margin: auto;
  text-transform: none !important;
  font-weight: initial;
}

.birlWelcome-img1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: 75%;
  object-fit: cover;
  border-radius: 16px;
}

.birlWelcome-img2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 40%;
  object-fit: cover;
  border-radius: 16px;
}

.birlWelcome-img-basic {
  border-radius: 0px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1300px) {
  .birlWelcome-content {
    min-height: 400px;
    width: 85%;
    padding: 110px 60px 90px 60px;
  }

  .birlWelcome-content-basic {
    padding: 0px;
    min-height: 500px;
  }
}

@media screen and (max-width: 900px) {
  .birlWelcome p {
    width: 90%;
  }

  .birlWelcome-content {
    min-height: 300px;
    width: 90%;
    padding: 90px 50px 50px 50px;
  }

  .birlWelcome-content-basic {
    padding: 0px;
    min-height: 500px;
    max-width: 800px;
    min-width: 700px;
  }

  .birlWelcome-header {
    padding: 20px 30px;
  }

  .birlWelcome-header-basic {
    padding: 10px 30px;
  }

  .birlWelcome-logo {
    width: 80px;
    height: 22px;
  }

  .birlWelcome h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .birlWelcome p {
    width: 100%;
  }

  .birlWelcome-content {
    width: 90%;
    padding: 80px 40px 40px 40px;
    flex-direction: column-reverse;
    min-width: revert;
  }

  .birlWelcome-content-basic {
    padding: 0px;
    min-height: 400px;
  }

  .birlWelcome-left {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .birlWelcome-content-basic p {
    margin: auto;
    text-transform: none !important;
    width: 90%;
  }

  .birlWelcome-content-basic h1 {
    margin-top: 40px;
  }

  .birlWelcome-button-basic {
    margin-bottom: 40px;
  }

  .birlWelcome-right {
    width: 100%;
  }
}

.loader {
  border: 3px solid whitesmoke;
  border-radius: 50%;
  border-top: 3px solid transparent;
  width: 14px;
  height: 14px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
