<div class="birl-page-body">
    <script src="https://wearebirl.github.io/wearebirl/birl-page.js"></script>
    <link rel="stylesheet" href="https://wearebirl.github.io/wearebirl/birl-page.css">
    <div class="split-view">
        <div class="left-view">
            <h1>What is Birl?</h1>
            <div class="birl-description">
                <p>
                    Birl is an exciting new trade-in and resale solution for fashion brands and
                    retailers. Birl allows you to easily trade-in Frahm jackets you no longer
                    use for instant credit off your next Frahm purchase.
                </p>
                <p>
                    Together with Birl, our mission is to ensure all clothing is either reused
                    or recycled and to encourage customers to embrace circularity one trade-
                    in at a time.
                </p>
                <p>
                    Simply visit any product page on our website to begin your trade-in.
                </p>
            </div>
            <div class="birl-how-it-works">
                <h2>How Birl Works</h2>
                <ol>
                    <li>
                        <h2>1.</h2>
                        <p>
                            Trade - Choose an item to trade-in from your existing brand
                            account or from within the Birl portal.
                        </p>
                    </li>
                    <li>
                        <h2>2.</h2>
                        <p>
                            Spend - Accept your credit and receive the voucher code instantly.
                            Your credit can be used as soon as you receive it, or you can save it
                            for your next purchase.
                        </p>
                    </li>
                    <li>
                        <h2>3.</h2>
                        <p>
                            Send - Select your preferred courier and receive the free postage
                            label. Pack your item and take it to a local drop off location that
                            suits you.
                        </p>
                    </li>
                </ol>
            </div>

        </div>
        <div class="right-view">
            <img class="hero-img" src="https://frahmjacket.com/cdn/shop/files/2022_05_04_FRAHM_Scotland_140_-_Instagram_2_1600x.jpg?v=1679315611" alt="Birl cover photo 1." />
            <img class="secondary-img" src="https://frahmjacket.com/cdn/shop/files/2022_05_04_FRAHM_Scotland_1083_2.jpg?v=1701430069&width=3000" alt="Birl cover photo 2." />
        </div>
    </div>

    <div class="faqs">
        <h2>FAQ</h2>
        <div class="accordion">
            <div class="accordion-item">
                <div class="accordion-header">Credit</div>
                <div class="accordion-content">
                    <div class="question">
                        <p class="question-title">Does the condition of my item affect how much credit I receive?</p>
                        <p class="question-answer">This is up to the discretion of brands using Birl, but is clearly shown on the Your Item Condition of the trade-in process.</p>
                    </div>
                    <div class="question">
                        <p>Does the condition of my item affect how much credit I receive?</p>
                        <p>This is up to the discretion of brands using Birl, but is clearly shown on the Your Item Condition of the trade-in process.</p>
                    </div>
                    <div class="question">
                        <p>Does the condition of my item affect how much credit I receive?</p>
                        <p>This is up to the discretion of brands using Birl, but is clearly shown on the Your Item Condition of the trade-in process.</p>
                    </div>
                    <div class="question">
                        <p>Does the condition of my item affect how much credit I receive?</p>
                        <p>This is up to the discretion of brands using Birl, but is clearly shown on the Your Item Condition of the trade-in process.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">Postage</div>
                <div class="accordion-content">
                    <p>This is the content for Section 2.</p>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">Recycling</div>
                <div class="accordion-content">
                    <p>This is the content for Section 3.</p>
                </div>
            </div>
        </div>
    </div>
</div>