<div class="birl-page-body">
    <script src="https://wearebirl.github.io/wearebirl/birl-page.js"></script>
    <link rel="stylesheet" href="https://wearebirl.github.io/wearebirl/birl-page.css">
    <div class="split-view">
        <div class="left-view">
            <h1>What is Birl?</h1>
            <div class="birl-description">
                <p>
                    Birl is an exciting new trade-in and resale solution for fashion brands and
                    retailers. Birl allows you to easily trade-in Peregrine items you no longer
                    use for instant credit off your next Peregrine purchase.
                </p>
                <p>
                    Together with Birl, our mission is to ensure all clothing is either reused
                    or recycled and to encourage customers to embrace circularity one trade-in at a time.
                </p>
                <p>
                    Simply visit any product page on our website to begin your trade-in.
                </p>
            </div>
            <div class="birl-how-it-works">
                <h2>How Birl Works</h2>
                <ol>
                    <li>
                        <h2 class="birl-point">1.</h2>
                        <p>
                            Trade - Choose an item to trade-in from your existing brand
                            account or from within the Birl portal.
                        </p>
                    </li>
                    <li>
                        <h2 class="birl-point">2.</h2>
                        <p>
                            Spend - Accept your credit and receive the voucher code instantly.
                            Your credit can be used immediately, or you can save it
                            for your next purchase.
                        </p>
                    </li>
                    <li>
                        <h2 class="birl-point">3.</h2>
                        <p>
                            Send - Select your preferred courier and receive the free postage
                            label. Pack your item and take it to a local drop off location that
                            suits you.
                        </p>
                    </li>
                </ol>
            </div>
            <a href="https://portal.wearebirl.com/peregrineclothing/trade-in" target="_blank" rel="noopener noreferrer">
                <div class="birl-get-started">
                    Get Started
                </div>
            </a>
        </div>
        <div class="right-view" >
            <img class="hero-img" src="https://ztp7egf458qdy422.public.blob.vercel-storage.com/peregrine-1.jpg" alt="Birl cover photo 1." />
        </div>
    </div>

    <div class="faqs">
        <h2 class="faq-title">FAQ</h2>
        <div class="accordion">
            <div class="accordion-item">
                <div class="accordion-header">
                    Credit
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
                </div>
                <div class="accordion-content">
                    <div class="question">
                        <p class="question-title">Can I receive credit for items that are from another brand?</p>
                        <p class="question-answer">No, sorry. Credit is only given for Peregrine items at this time.</p>
                    </div>
                    <div class="question">
                        <p class="question-title">Does the condition of my item affect how much credit I receive?</p>
                        <p class="question-answer">This is up to the discretion of brands using Birl, but is clearly shown on the Your Item Condition of the trade-in process. own on the Your Item Condition of the trade-in process.</p>
                    </div>
                    <div class="question">
                        <p class="question-title">Do I receive my credit to use straight away?</p>
                        <p class="question-answer">Yes! You are able to use your credit as soon as it arrives in your inbox. You can even use it before you send your item back to us. If you do not receive your credit please contact us at hello@wearebirl.com</p>
                    </div>
                    <div class="question">
                        <p class="question-title">How do you calculate the amount of credit that I receive?</p>
                        <p class="question-answer">Brands individually calculate how much credit is available per item based on a selection of criteria.</p>
                    </div>
                    <div class="question">
                        <p class="question-title">Can I trade in multiple items at the same time?</p>
                        <p class="question-answer">No, you are currently only able to trade-in one item at a time. You can submit as many trade-ins as you like, but can only use one credit against each future purchase.</p>
                    </div>
                    <div class="question">
                        <p class="question-title">Can I use multiple credit vouchers for the same purchase?</p>
                        <p class="question-answer">No, you can only use one credit voucher for each purchase.</p>
                    </div>
                    <div class="question">
                        <p class="question-title">When does my voucher code expire?</p>
                        <p class="question-answer">This is at the brands discretion, but will be highlighted within the Birl portal.</p>
                    </div>
                    <div class="question">
                        <p class="question-title">What is One Step Further & How does it work?</p>
                        <p class="question-answer">One Step Further allows you to send back additional items alongside your trade-in. If you are wishing to clear your wardrobe of clothing that you no longer use, please include it in your package when you send back your trade-in. Please send a maximum of an additional 5kg back in a single package (approximately 3 items). You will not receive credit for your additional items, but can rest assured that these items will be ethically recycled. Birl commits to a zero-to-landfill policy.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    Postage
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
                </div>
                <div class="accordion-content">
                    <div class="question">
                        <p class="question-title">Do I have to pay to send my trade-in back?</p>
                        <p class="question-answer">No, shipping is totally free using the labels we provide. You can select whether to send your item with Royal Mail, InPost or Yodel.</p>
                    </div>
                    <div class="question">
                        <p class="question-title">How do I get my postage label?</p>
                        <p class="question-answer">Your postage label will arrive in your email inbox after you accept your credit. Please check your junk if it doesn't arrive. If you don't receive your label, please contact support at hello@wearebirl.com </p>
                    </div>
                    <div class="question">
                        <p class="question-title">Do I need a printer?</p>
                        <p class="question-answer">No, all of our carriers have a printerless option available. Make sure to download your QR code and you will be able to print off a label for your trade-in at your nearest drop-off point.</p>
                    </div>
                    <div class="question">
                        <p class="question-title">How long do I have to send my trade-in back?</p>
                        <p class="question-answer">You have 7 working days to send back your trade-in. If you choose not to send your trade-in then we reserve the right to charge your payment method for the credit that you have received.</p>
                    </div>
                    <div class="question">
                        <p class="question-title">Can I trade in my items from outside the UK?</p>
                        <p class="question-answer">Currently, Birl trade-in is only available to UK customers, but we are looking to open internationally in the coming months.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header">
                    Recycling
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
                </div>
                <div class="accordion-content">
                    <div class="question">
                        <p class="question-title">What types of items can I recycle?</p>
                        <p class="question-answer">We are able to accept all item categories with the exception of underwear.</p>
                    </div>
                    <div class="question">
                        <p class="question-title">What happens to my items once I send them back?</p>
                        <p class="question-answer">We endeavour to re-sell your item so that it can stay in use as long as possible. If we are unable to resell your item, then it will be recycled. We commit to a zero to landfill policy for all of the brands that we work with.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

